{% extends 'base.html' %}

{% block title %}
Qual a sua posição?
{% endblock %}
{% block content %}
<table class="table mt-3" border="1px">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Usuário</th>
            <th scope="col">Pontuação</th>
        </tr>
    </thead>
    <tbody>
        {% for score in scores %}
            <tr>
                <td>{{ score.usuario }}</td>
                <td>{{ score.score }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}