{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="container">
            <br><br>
            <h3 class="content"> Bem vindo à <span style="color:#198b90">BeeviAI</span></h3>
        <br>
            <p>
                Aqui você terá que desenvolver um jogo com uma dessas linguagens: JS, CSS3, python ou pygame, porém pense bem pois a ideia é um jogo. É necessário que o jogador arraste objetos como obstáculos, como círculos, quadrado, retângulo, e linhas. Dica: pode ser um jogo de labirinto, no caso do labirinto deve ter um tamanho mínimo 6 X 6, ainda precisa ter o objeto e o objeto que deve ser encontrado. Outro ponto importante é permitir que o usuário possa colocar obstáculos no labirinto como: cículos, retângulos e linhas, o qual o objeto irá se deslocar quando se deparar com cada obstáculo. O personagem pode ser um ponto ou qualquer outra forma (não perca tempo em fazer um personagem animado, esse não é o foco). Para finalizar insira um contador integrando o backend com o frontend, para contabilizar o tempo que o personagem demora para chegar no seu destino. Para finalizar é preciso guardar os dados em um banco.
            1. Pontos importante:
                - usabilidade
                - organização do código
                - Integração entre Back end e Front end 
                - Design do jogo   
                
            </p>
        </div>

{% endblock  %}
