{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="container">
            <br><br>
            <h3 class="content"> Bem vindo à <span style="color:#198b90">BeeviAI</span></h3>
        <br>
            <p>
                Seja muito bem vinda ou bem vindo! Faça o cadastro para poder jogar.
                Se o jogador conseguir finalizar o labirinto dentro do intervalo proposto, um registro de sua pontuação será salvo no nosso banco de dados.
                <p>Desta forma, você também poderá acessar o seu desempenho referente aos outros jogadores na aba classificação. 
                    Tenha um bom divertimento, jogue com sabedoria!
                </p>                   
            </p>
        </div>

{% endblock  %}
