{% extends 'base.html' %}
{% load static %}
{% block title %}
Dê o seu melhor para conseguir boa colocação no rank!
{% endblock %}
{% block content %}
<body>
<section class="game">
    <div id="wrapper" style="margin-left:auto; margin-right:auto;">
        <h1 id="heading" style="background-color: #f7630e; text-decoration-style: solid; color: #F8F8F8; width: 40%; margin-top: 0px; margin-bottom: 10px">Enfrente o Labirinto</h1>
        <div id="maze">
            <p style="text-align: center;margin-bottom: 10px">Você tem 30 segundos para sair do labirinto!</p>
            <div id="c" style="margin-left:auto; margin-right:auto;margin-bottom: 10px;text-align: center;width: 10%;font-size: large"></div>

            <canvas id="canvas" width="523" height="523" style="margin-left:auto; margin-right:auto">
            É este canvas que retorna o labirinto.
        </canvas>
            <div id="timerel" style="margin-left:auto; margin-right:auto;margin-top:0px;text-align: center;width: 15%;font-size: large"></div>

        </div>

        <div id="myModal" class="modal">

            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2 id="gamehead"></h2>
                </div>
                <div class="modal-footer">
                    <h2 id="demo" style="cursor:pointer;">Melhorar o tempo?</h2>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript" src='{% static "js/game.js" %}'></script>
</section>
</br>
</br>
</br>
</br>
{% endblock %}