#heading {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: xx-large;
}
#heading{ 
    margin: 0 auto
}
#canvas { 
    background: #99afa3; display: block; margin: 0 auto; 
}
#c { 
    display: block; margin: 0 auto; 
}
#timerel { 
    display: block; margin: 0 auto; 
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 20%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #41d9f4;
    color: white;
    text-align: center;
    height : 50%;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color:#f4bc42;
    color: white;
    text-align: center;
    height: 50%;
}

.content{
    color: #002f4d;
}

/* Jogo */
footer{
    z-index: -1;
}